<!doctype html>
<html lang="ja">
  <head>
    <meta content="text/html; charset=UTF-8" />
    <style>
    /* h2,p{
    color:#215c89;
    } */
    </style>
  </head>
  <body>
    <hr>
    <h3>【リマインド】明日チケットの当選発表を行うイベントがあります</h3>
    <hr>

    <p>◆詳細は下記よりログインしてご確認いただけます。</p>
    <p>&ensp;Evenote. ログインページ：<br>&ensp;<%= @url %></p>
    <br>
    <p>※このメールは、送信専用メールアドレスから配しておりますので、ご返信頂いてもお応えすることができません。</p>
    <p>ご了承の程お願い申し上げます。</p>
    <br>
    <h3>Evenote.</h3>
    <hr>
  </body>
</html>