<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-10 mx-auto">
      <!--タブ部分-->
      <p><%= @user.user_name %>さんの</p>
      <ul class="tab-list list-unstyled">
        <div class="row">
          <% if @mode == "0" %>
            <li class="tab tab-active col-md-6">
          <% else %>
            <li class="tab col-md-6">
          <% end %>
            フォロー
          </li>
          <% if @mode == "1" %>
            <li class="tab tab-active col-md-6">
          <% else %>
            <li class="tab col-md-6">
          <% end %>
            フォロワー
          </li>
        </div>
      </ul>
      <div class="tabbox-contents">
        <% if @mode == "0" %>
          <div class="tabbox box-show">
        <% else %>
          <div class="tabbox">
        <% end %>
          <div id="following_area">
            <%= render 'followings', users_follow: @users_follow %>
          </div>
        </div>
        <% if @mode == "1" %>
          <div class="tabbox box-show">
        <% else %>
          <div class="tabbox">
        <% end %>
          <div id="follower_area">
            <%= render 'followers', users_follower: @users_follower %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>