<%= form_with model:[post, post_comment], url:post_post_comments_path(post), remote: true do |f| %>
  <div class="form-group">
    <%= f.text_area :comment, rows:2, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit '送信' %>
  </div>
<% end %>