<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-5">
        <p><span class="mgl-10">ユーザーネーム：</span></p>
      </div>
      <div class="col-md-7">
        <%= user.user_name %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-5">
        <p><span class="mgl-10">自己紹介：</span></p>
      </div>
      <div class="col-md-7">
        <%= user.introduction %>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row">
      <div class="col-md-7">
        <p><span class="mgl-10">参加予定イベント：</span></p>
      </div>
      <div class="col-md-8">
        <%= user.join_event %>
      </div>
    </div>
  </li>
</ul>