<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h3>送信が完了しました</h3>
      <div class ="mt-2">
        <p>内容は以下の通りです。</p>
        <p>[タイトル]</p>
        <p>[本文]</p>
      </div>
    </div>
  </div>
</div>