<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="mt-2">プロフィール</h2>
      <%= render 'users/info', user: @user %>
      <%= render 'users/detail', user: @user %>
    </div>
    <%#= link_to 'Mail', new_mail_users_path(@user), class: "fas fa-paper-plane" %>
  </div>
</div>