<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <table class="table">
        <tr>
          <th>日付</th>
          <th>イベント名</th>
          <th>場所</th>
        </tr>
        <% @events.each do |event| %>
          <tr>
            <td><%= event.date %></td>
            <td><%= link_to event.name, event_path(event) %></td>
            <td><%= event.place %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>