<div class="container">
  <div class="row">
    <div class="col-md-12 mx-auto">
      <div class="card card-main">
        <h5 class="card-header main-header">チケット編集登録</h5>
        <%= render 'tickets/form', ticket: @ticket %>
      </div>
    </div>
  </div>
</div>