<%= form_with model:@album, url:event_albums_path, local: true do |f| %>
  アルバム名<%= f.text_field :album_name %><br>
  <%= link_to_add_association 'Add Photo',
                              # form_withのformタグ変数
                              f,
                              # フォームのデータを追加するモデル名
                              :photos,
                              # 追加するフォームの部分テンプレート
                              partial: "photo_fields",
                              # オプション
                              data: {
                                # フォームを追加する場所の指定
                                association_insertion_node: '#photos',
                                # フォームを前後どの位置に追加するか。(初期値: before)
                                association_insertion_method: 'after'
                              },
                              # フォームオブジェクトを指定する場合(初期値 : f)
                              form_name: 'photo',
                              # 部分テンプレートに渡す変数があれば記述
                              render_options: {
                                locals: {
                                  # 通常の部分テンプレートと同じ記述
                                }
                              }
  %>
  <div id="photos"></div>
  <%= f.submit %>
<% end %>