<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
    <!--アルバム一覧-->
    <h5>アルバム一覧</h5>
      <div class="row">
        <% @albums.each do |album| %>
          <div class="col-xl-3 mb-3">
            <div class="card">
              <div class="album_box">
                <div class="album_box_image"><i class="far fa-images"></i></div>
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  <%= link_to event_album_photos_path(event_id: album.event_id, album_id: album.id) do %>
                    <%= album.album_name %>
                  <% end %>
                </h5>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>