<div class="container">
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="row">
        <% @albums.each do |album| %>
          <!--<div class="row">-->
            <% if album.photos.present? %>
              <!--<div class="post_files">-->
                <% album.photos.each do |photo| %>
                <%# @photos.each do |photo| %>
                  <div class="col-md-3 mt-3">
                    <div class="card h-100">
                      <!--<div class="card-img-top">-->
                      <%= attachment_image_tag(photo, :memory_image, :fill, 200, 200) %>
                      <!--</div>-->
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <div class="row">
                            <div class="ml-auto">
                              <%= link_to "/events/#{photo.album.event_id}/albums/#{photo.album_id}/photos/#{photo.id}", method: :delete, data: { confirm: "登録しているアルバムからも削除されます。\n本当に消しますか？" }  do %>
                                <span class="mgr-10"><i class="far fa-trash-alt"></i> 削除</span>
                              <% end %>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </div>
                <% end %>
              <!--</div>-->
            <% end %>
          <!--</div>-->
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mx-auto mt-2">
      <%#= paginate @photos %>
    </div>
  </div>
</div>