<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <% @albums.each do |album| %>
          <% if album.photos.present? %>
            <div class="post_files">
              <% album.photos.each do |photo| %>
                <%= image_tag photo.memory_image_id.to_s, size: '200x200' %>
                <%= link_to '削除', "/events/#{photo.album.event_id}/albums/#{photo.album_id}/photos/#{photo.id}", method: :delete %>
              <% end %>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</div>