<!--# 部分テンプレートを呼び出す-->
<%= render 'posts/posts_remote', posts: posts, tab_id: tab_id %>

<!--モーダルの周囲を薄暗くするマスク-->
<div id="mask-<%= tab_id %>" & tab_id class="hidden"></div>
<!--モーダル-->
<!--あとからJavaScriptで<div>内のコードをshowビューのコードに置き換えます。-->
<div id="modal-<%= tab_id %>" class="hidden target">
  <p>モーダルウィンドウ<p>
</div>
