/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

@mixin media($device) {
  @if $device== "pc" {
    @media print, screen and (min-width: 771px) {
      @content;
    }
    // } @else if $device== "tb" {
    //   @media print, screen and (max-width: 1440px) and (min-width: 771px) {
    //     @content;
    //   }
  } @else if $device== "sp" {
    @media screen and (max-width: 770px) {
      @content;
    }
  }
}

/*ページネーション自体のデザイン*/
.pagination li a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination .active a {
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination li a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.page-item.active .page-link {
    // z-index: 3;
    color: #fff;
    background-color: #bdb76b;
    border-color: #bdb76b;
}

.wrapper {
    // width: 100%;
    // position: relative;
    // height: 100%;
    // min-height: 100%;
}

body,
html {
  // margin: 0;
  // padding: 0;
  height: 100%;
  // word-wrap: break-word;
  background-color: #f8ede1;
  // font-family: 'Lora', serif;
  // font-family: "Noto Sans JP", sans-serif;
  font-family: 'Amiri', serif;
}

li,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}

// button {
//   cursor: pointer;
// }

// button,
// input,
// select,
// textarea {
//   background-color: transparent;
//   border: none;
//   outline: 0;
//   padding: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   color: inherit;
// }

button {
  // background-color: transparent;
  // border: none;
  // outline: 0;
  // padding: 0;
  // appearance: none;
  // color: inherit;
}

// input {
//   border: none;
//   outline: 0;
//   padding: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   color: inherit;
// }

// :after,
// :before {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }


// メニューのデザイン
.l-main{
  // position: relative;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}


.l-app_navigation {
  // position: relative;
  // top: 100px;
  // top: 0;
  // left: 0;
  width: 200px;
  // height: auto;
  background-color: #fff;
  // transition: all 0.6s;
  // z-index: 100;
  // transform: translateX(-220px);
}

// .l-app_navigation.menu-active-complete {
//   transform: translateX(0);
// }

.l-menu {
  // position: relative;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
}

.l-menu:before {
  // content: "";
  // position: absolute;
  // top: 0;
  // left: 0;
  // display: block;
  // width: 100%;
  // height: calc(100% + 200px);
  // background-color: #fff;
}

.menu-open-overlay {
  // z-index: 10;
  // cursor: pointer;
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
}

.l-menu-title {
  display: none;
  // position: absolute;
  // top: 25px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  // right: 0;
  // width: 80px;
  // cursor: pointer;
}

.l-menu-title .icon {
  // position: relative;
  // width: 20px;
  // height: 7px;
  // margin: 0 auto 35px;
}

.l-menu-title .icon:after,
.l-menu-title .icon:before {
  // content: "";
  // position: absolute;
  // left: 0;
  // width: 100%;
  // height: 1px;
  // background-color: #000;
}

.l-menu-title .icon:before {
  // top: 0;
  // transform-origin: left center;
}

.l-menu-title .icon:after {
//   bottom: 0;
//   transform-origin: right center;
}

.l-menu-title .en,
.l-menu-title .jp {
  // transform: rotate(90deg);
  // line-height: 1;
  // overflow: hidden;
}

.l-menu-title .jp {
  // margin: 0 auto 65px;
  // font-size: 13px;
  // font-family: "Noto Sans JP", sans-serif;
  // font-weight: 500;
}

.l-menu-title .en {
  // font-size: 14px;
  // font-family: Inter, sans-serif;
  // font-weight: 400;
}

.l-menu-title .jp span {
  // display: block;
}

.l-menu-title.menu-active-complete {
  // opacity: 0;
  // transition: 1s;
}

span {
  // outline: 0;
  // box-sizing: border-box;
  // margin: 0;
  // padding: 0;
}

.l-app_navigation.menu-active-complete {
  // transform: translateX(0);
}

.l-menu-contents {
  // position: absolute;
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: 100%;
  // overflow-x: hidden;
}

// .l-menu-contents.menu-active-complete {
//   z-index: 20;
// }

.l-menu-contents {
  z-index: 20;
}

.l-menu-index {
  padding: 65px 0 0 40px;
}

.l-menu-index_page-title {
  position: relative;
  display: block;
  padding: 20px 0;
}

.l-menu-index_page-title .line {
  display: block;
  line-height: 1;
}

.l-menu-index_page-title .jp {
  font-size: 15px;
  margin-bottom: 6px;
}

.l-menu-index_page-title .en {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.l-menu-index_section-list{
    display: none;/*はじめは非表示*/
    padding: 0 0 0 15px;
    font-size: 13px;
}

.l-menu-index_section{
  padding: 0 0 20px 0;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.l-menu-close {
  display: none;
  // position: absolute;
  // top: 10px;
  // left: 15px;
  // width: 44px;
  // height: 44px;
  // font-size: 15px;
  // font-family: "Noto Sans JP", sans-serif;
  // font-weight: 500;
}


.l-app_contents {
  // position: relative;
  background-color: #f8ede1;
  width: calc(100% - 200px);
  transition: all 0.6s;
  margin-top: 50px;
}

// .l-app_contents.menu-active-complete {
//     width: calc(100% - 200px);
// }

// @media (min-width: 1201px)
//   .l-app_contents {
//       width: calc(100% - 80px);
//   }

.l-app_header {
  // position: fixed;
  // position: relative;
  background-color: #f8ede1;
  // width: calc(100% - 200px);
  // transition: all 0.6s;
  margin: 0 0 0 auto;
  // height: 100px;
}

.l-app_footer {
  // position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eee8aa;
}

// .l-app_header.menu-active-complete {
//     width: calc(100% - 200px);
// }


// ユーザー編集画面のボタン
.form-image-button {
    padding: 10px 40px;
    color: #ffffff;
    background-color: #384878;
    cursor: pointer;
}

// input[type="file"] {
//    display: none;
// }


// fontawesomeのレイアウト
.size{
  font-size:2em;
  color: #808080;
}

.albumsize{
  font-size:5em;
  color: #808080;
}

// formのレイアウト調整
.form-control {
  border: none;
  opacity: 0.8;
  background-color: #f8ede1;
  background-color: hsla(0, 0%, 100%, 0.5);
}

.l-app_ticket {
  border: 1px solid #808080;
}

.l-app_ticket_title{
  border-right: 1px dashed #808080;
}

.l-app_ticket{
  border-bottm: 1px solid #808080;
}

// .l-app_ticket_detail {
//   border-top: 1px solid #808080;
//   border-right: 1px solid #808080;
// }

// .l-app_ticket_detail.last{
//   border-bottom: 1px solid #808080;
// }


// .post-files {
//     // 横並び
//     display: flex;
//     // この2行で枠の幅の中で要素を折り返し表示
//     flex-direction: row;
//     flex-wrap: wrap;
//     margin-bottom: 10px;
//     &__file {
//       width: 150px;
//       height: 150px;
//       margin: 5px;
//       border: 1px solid #ccc;
//       // 画像の縦横比率を変えずに表示
//       object-fit: contain;
//     }
//   }

// .index-album{
//   height :20px;
//   width: 20px;
//   border: 1px solid #808080;
//   background-color: darkred;
//   // display: block;
//   display: flex;
//   justify-content: center;
//   transition: 0.3s;
//   // position: absolute;
// }


// アルバム一覧
.sample_box12 {
  // width: 100px;/* 紙の横幅 100%にすると全幅表示に */
   padding: 15px;
   margin: 15px;
   background :#e6e6fa;/* 紙の色 */
   color: #000;/* 文字色 */
   box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
   word-break: break-all;
}
.sample_box12 p {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
}
.sample_box12_tape {
    width: 50%;
    height: 35px;
    margin: -25px auto 0;
    background: #dcdcdc;/* テープの色 */
    transform: rotate(-3deg);
    opacity: 0.7;
}
.sample_box12_title {
    text-align: center;
    font-size: 1.3em!important;
    margin-top: 10px!important;
}
.sample_box12_subtitle {
    text-align: center;
    font-size: 0.7em!important;
    margin-bottom: 1em!important;
}


/* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask-1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask-2 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask-3 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal-1 {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
  // height: 450px;
  // width: 800px;
  background-color: #fff;
}

#modal-2 {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
  // height: 450px;
  // width: 800px;
  background-color: #fff;
}

#modal-3 {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
  // height: 450px;
  // width: 800px;
  background-color: #fff;
}

/* hiddenクラスで最初は表示されないようにする */
#mask-1.hidden {
  opacity: 0;
  visibility: hidden;
}

#mask-2.hidden {
  opacity: 0;
  visibility: hidden;
}

#mask-3.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal-1.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

#modal-2.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

#modal-3.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

// 通知マークの丸
.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}


// 投稿機能のタブ切り替え
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
}
// hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

// 投稿機能のタブ切り替え
.sub-tab {
  width: 50%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.sub-tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.sub-tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.sub-tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.sub-box-show {
  display: block;
}
// hover時のアクション
.sub-tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}