/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

@mixin media($device) {
  @if $device== "pc" {
    @media print, screen and (min-width: 771px) {
      @content;
    }
    // } @else if $device== "tb" {
    //   @media print, screen and (max-width: 1440px) and (min-width: 771px) {
    //     @content;
    //   }
  } @else if $device== "sp" {
    @media screen and (max-width: 770px) {
      @content;
    }
  }
}

*{
  padding: 0;
  margin: 0;
}

/*ページネーション自体のデザイン*/
.pagination li a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination .active a {
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination li a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.page-item.active .page-link {
    // z-index: 3;
    color: #fff;
    background-color: #bdb76b;
    border-color: #bdb76b;
}

.wrapper {
    // width: 100%;
    // position: relative;
    // height: 100%;
    // min-height: 100%;
}

body,
html {
  // margin: 0;
  // padding: 0;
  // height: 100%;
  // word-wrap: break-word;
  // background-color: #f8ede1;
  // font-family: 'Lora', serif;
  // font-family: "Noto Sans JP", sans-serif;
  font-family: 'Amiri', serif;
}

body{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 50px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

.l-main{
  min-height: 90vh;
  // display: flex;
  // justify-content: flex-end;
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 0;

 position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

li,
ol{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: 'Amiri', serif;
}


// button {
//   cursor: pointer;
// }

// button,
// input,
// select,
// textarea {
//   background-color: transparent;
//   border: none;
//   outline: 0;
//   padding: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   color: inherit;
// }

button {
  // background-color: transparent;
  // border: none;
  // outline: 0;
  // padding: 0;
  // appearance: none;
  // color: inherit;
}

// input {
//   border: none;
//   outline: 0;
//   padding: 0;
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
//   color: inherit;
// }

// :after,
// :before {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }


// メニューのデザイン
// .l-main{
//   // position: relative;
//   height: 100%;
//   display: flex;
//   justify-content: flex-end;
// }


.l-app_navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  background-color: #008080;
  transition: all 0.6s;
  z-index: 100;
  transform: translateX(-220px);
  font-color: #fff;
}

.l-app_navigation.menu-active-complete {
  transform: translateX(0);
}

.l-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.l-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: calc(100% + 200px);
  // background-color: #fff;
}

.menu-open-overlay {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.l-menu-title {
  position: absolute;
  top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 80px;
  cursor: pointer;
}

.l-menu-title .icon {
  position: relative;
  width: 20px;
  height: 7px;
  margin: 0 auto 35px;
}

.l-menu-title .icon:after,
.l-menu-title .icon:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.l-menu-title .icon:before {
  top: 0;
  transform-origin: left center;
}

.l-menu-title .icon:after {
  bottom: 0;
  transform-origin: right center;
}

.l-menu-title .en,
.l-menu-title .jp {
  transform: rotate(90deg);
  line-height: 1;
  overflow: hidden;
}

.l-menu-title .jp {
  margin: 0 auto 65px;
  font-size: 13px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 500;
}

.l-menu-title .en {
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.l-menu-title .jp span {
  display: block;
}

.l-menu-title.menu-active-complete {
  opacity: 0;
  transition: 1s;
}

span {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.l-app_navigation.menu-active-complete {
  transform: translateX(0);
}

.l-menu-contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.l-menu-contents.menu-active-complete {
  z-index: 20;
}

.l-menu-index {
  padding: 65px 30px;
}


.l-menu-index_page-title {
  position: relative;
  display: block;
  padding: 20px;
}

.l-menu-index_page-title .line {
  display: block;
  line-height: 1;
}

.l-menu-index_page-title .jp {
  font-size: 15px;
  margin-bottom: 6px;
}

.l-menu-index_page-title .en {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.l-menu-index_section-list{
    // display: none;/*はじめは非表示*/
    padding: 0 0 0 30px;
    font-size: 13px;
}

.l-menu-index_section{
  padding: 0 0 20px 0;
}


.l-app_contents {
  // position: relative;
  // background-color: #f3f0e9;
  background-color: #f7f7f5;
  // background-color: #f8ede1;
  // background-color: hsla(0, 0%, 100%, 0.15);
  width: calc(100% - 70px);
  transition: all 0.6s;
  margin: 0 0 0 auto;
  // margin-top: 50px;
}

// .l-app_contents.menu-active-complete {
//     width: calc(100% - 200px);
// }

// @media (min-width: 1201px)
//   .l-app_contents {
//       width: calc(100% - 80px);
//   }

.l-app_header {
  // position: fixed;
  // position: relative;
  background-color: #f8ede1;
  width: calc(100% - 70px);
  // transition: all 0.6s;
  margin: 0 0 0 auto;
  // height: 100px;
}

.l-app_footer {
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // width: 100%;
  // background-color: #eee8aa;
}

// .l-app_header.menu-active-complete {
//     width: calc(100% - 200px);
// }


// ユーザー編集画面のボタン
.form-image-button {
    padding: 10px 40px;
    color: #ffffff;
    background-color: #384878;
    cursor: pointer;
}

// input[type="file"] {
//    display: none;
// }




// .l-app_ticket_detail {
//   border-top: 1px solid #808080;
//   border-right: 1px solid #808080;
// }

// .l-app_ticket_detail.last{
//   border-bottom: 1px solid #808080;
// }


// .post-files {
//     // 横並び
//     display: flex;
//     // この2行で枠の幅の中で要素を折り返し表示
//     flex-direction: row;
//     flex-wrap: wrap;
//     margin-bottom: 10px;
//     &__file {
//       width: 150px;
//       height: 150px;
//       margin: 5px;
//       border: 1px solid #ccc;
//       // 画像の縦横比率を変えずに表示
//       object-fit: contain;
//     }
//   }

// .index-album{
//   height :20px;
//   width: 20px;
//   border: 1px solid #808080;
//   background-color: darkred;
//   // display: block;
//   display: flex;
//   justify-content: center;
//   transition: 0.3s;
//   // position: absolute;
// }


// アルバム一覧
// .sample_box12 {
//   // width: 100px;/* 紙の横幅 100%にすると全幅表示に */
//   // padding: 15px;
//   // margin: 15px;
//   height: 150px;
//   background :#e6e6fa;/* 紙の色 */
//   color: #000;/* 文字色 */
//   // box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
//   word-break: break-all;
// }
// .sample_box12 p {
//     margin: 0;
//     padding: 0;
//     font-size: 0.9em;
// }
// .sample_box12_tape {
//     width: 50%;
//     height: 35px;
//     margin: -25px auto 0;
//     background: #dcdcdc;/* テープの色 */
//     transform: rotate(-3deg);
//     opacity: 0.7;
// }
// .sample_box12_title {
//     text-align: center;
//     padding: 25px 0;
//     font-size: 4em!important;
// }
// .sample_box12_subtitle {
//     text-align: center;
//     font-size: 0.7em!important;
//     margin-bottom: 1em!important;
// }


/* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask-1 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask-2 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#mask-3 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal-1 {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
  // height: 450px;
  // width: 800px;
  background-color: #fff;
}

#modal-2 {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
  // height: 450px;
  // width: 800px;
  background-color: #fff;
}

#modal-3 {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */
  // height: 450px;
  // width: 800px;
  background-color: #fff;
}

/* hiddenクラスで最初は表示されないようにする */
#mask-1.hidden {
  opacity: 0;
  visibility: hidden;
}

#mask-2.hidden {
  opacity: 0;
  visibility: hidden;
}

#mask-3.hidden {
  opacity: 0;
  visibility: hidden;
}

#modal-1.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

#modal-2.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

#modal-3.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

// 通知マークの丸
.n-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}


// 投稿機能のタブ切り替え
.tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show {
  display: block;
}
// hover時のアクション
.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

// 投稿機能のタブ切り替え
.sub-tab {
  width: 50%;
  padding: 10px;
  cursor: pointer;
  border-left: solid 1px #CCC;
  border-bottom: solid 1px #CCC;
}
.sub-tab:first-child {
  border-left: none;
}
// タブがactiveのときのデザイン
.sub-tab-active {
  color: #FFF;
  background: #19b5d1;
  transition: all 0.2s ease-in-out;
}
// タブの中身、最初は非表示
.sub-tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.sub-box-show {
  display: block;
}
// hover時のアクション
.sub-tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}



// イベント新規登録画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// Helpers
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
  }
}

.align-center {
   text-align: center;
}


// // Basics
// html {
//   height: 100%;
// }
// body {
//   height: 100%;
//   // position: relative;
// }

.content-wrapper {
   min-height: 100%;
  // position: relative;
}

.contact-form {
   .form-group {
      // position: relative;
      // margin: 40px 0;
   }
   .input-text {
      display: block;
      width: 100%;
      height: 36px;
      border-width: 0 0 1px 0;
      border-color: #d3d3d3;
      font-size: 18px;
      line-height: 26px;
      font-weight: 400;

      &:focus {
         outline: none;
      }

      &:focus,
      &.not-empty {
         + .label {
            transform: translateY(-24px);
         }
      }
   }
   .label {
      // position: absolute;
      // left: 20px;
      bottom: 3px;
      line-height: 26px;
      font-weight: 400;
      // cursor: text;
      transition: transform .2s ease-in-out;
   }
   .time-label{
      bottom: 3px;
      line-height: 26px;
      font-weight: 400;
      transition: transform .2s ease-in-out;
     left: 20px;
   }

}

// チケット新規登録画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// ラジオボタンの位置調整
.radio-form-label {
  position: relative;
  top: 5px;
}

// チケット一覧画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// 検索フォーム
.ticket_search_form{
  background: rgba(0, 0, 0, 0.07);
}


// チケット詳細画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.l-app_ticket_title{
  border-right: 1px dashed rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
}

.l-app_ticket_detail {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.header-color {
  background-color: #add8e6;
}



// アルバム画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.album_box {
  // width: 100px;/* 紙の横幅 100%にすると全幅表示に */
  // padding: 15px;
  // margin: 15px;
  height: 150px;
  background :#e6e6fa;/* 紙の色 */
  color: #000;/* 文字色 */
  // box-shadow: 4px 4px 4px rgba(0,0,0,0.03);transform:rotate(2deg);
  word-break: break-all;
}

.album_box_image {
    text-align: center;
    padding: 25px 0;
    font-size: 4em!important;
}

// 投稿画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.post_header{
  padding: 0.25rem 1.25rem;
}


.post_image{
  height: 200px;
}

.post_card{
  .card-body {
    padding: 0.5rem;
  }
}

.post_main_text {
  overflow: hidden;
  width: 100%;

  .post_text_tag, .post_text_content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    font-size: 0.8em;
    margin-bottom: 0.3rem;
  }

  .post-btn{
    font-size: 0.8em;
    border: 0.8px solid #d3d3d3;
    border-radius: 10px;     /*角を丸くする*/
    width: 60px;
    height: 30px;
  }

}

.post_list_text{
  font-size: 0.8em;

}

// .card-img-top {
//     width: 100%;
//     height: 15vw;
//     object-fit: cover;
// }


.main-post-image_area{
  // width: 500px;
  position: relative;
  height: 100%;

  .post-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 90%;
    margin: auto;
    padding: 5px;
    // border: 1px solid #fff;
    // padding: 20px;
  }
}

.post_image_detail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_post_area{
  height: 70px;
}

.main_comment_area{
  height: 220px;
}

.main_favorite_area{
  height: 20px;
}

// .main_inputcomment_area{
//   height: 20px;
// }

.input_comment{
  border: none;
}


.post_comment_list{
  border-bottom: dashed 1px #d3d3d3;
}

.main_comment_area{
  // width: 200px;
  // height: 100px;
  overflow-x: hidden;
  overflow-y: scroll;
  // background-color: #99FF99;
}

.post_comment_time_ago{
  font-size: 0.8em;
  text-align: right;
}



// 共通ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// fontawesomeのレイアウト
.size{
  font-size:2em;
  color: #808080;
}

// formのレイアウト調整
.form-control {
  // border: none;
  // opacity: 0.8;
  background-color: #fff;
}

// 余白の調整
.mgl-10{
    margin-left : 10px;
}

.mgl-30{
    margin-left : 30px;
}

.mgr-10{
    margin-right : 10px;
}

.mgr-30{
    margin-right : 30px;
}

.submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}


// 一旦退避ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.albumsize{
  font-size:5em;
  color: #808080;
}

// 一トップ画面お試しーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

// input {
//   ::-webkit-input-placeholder {
//     color: rgba(255,255,255,0.7);
//   }
//   ::-moz-placeholder {
//     color: rgba(255,255,255,0.7);
//   }
//   :-ms-input-placeholder {
//     color: rgba(255,255,255,0.7);
//   }
//   &:focus {
//     outline: 0 transparent solid;
//     ::-webkit-input-placeholder {
//     color: rgba(0,0,0,0.7);
//     }
//     ::-moz-placeholder {
//       color: rgba(0,0,0,0.7);
//     }
//     :-ms-input-placeholder {
//       color: rgba(0,0,0,0.7);
//     }
//   }
// }

// .login-form {
//   //background: #222;
//   //box-shadow: 0 0 1rem rgba(0,0,0,0.3);
//   min-height: 10rem;
//   margin: auto;
//   max-width: 50%;
//   padding: .5rem;
// }
// .login-text {
//   //background: hsl(40,30,60);
//   //border-bottom: .5rem solid white;
//   color: white;
//   font-size: 1.5rem;
//   margin: 0 auto;
//   max-width: 50%;
//   padding: .5rem;
//   text-align: center;
//   //text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
//   .fa-stack-1x {
//     color: black;
//   }
// }

// .login-username, .login-password {
//   background: transparent;
//   border: 0 solid;
//   border-bottom: 1px solid rgba(white, .5);
//   color: white;
//   display: block;
//   margin: 1rem;
//   padding: .5rem;
//   transition: 250ms background ease-in;
//   width: calc(100% - 3rem);
//   &:focus {
//     background: white;
//     color: black;
//     transition: 250ms background ease-in;
//   }
// }

// .login-forgot-pass {
//   //border-bottom: 1px solid white;
//   bottom: 0;
//   color: white;
//   cursor: pointer;
//   display: block;
//   font-size: 75%;
//   left: 0;
//   opacity: 0.6;
//   padding: .5rem;
//   position: absolute;
//   text-align: center;
//   //text-decoration: none;
//   width: 100%;
//   &:hover {
//     opacity: 1;
//   }
// }
// .login-submit {
//   border: 1px solid white;
//   background: transparent;
//   color: white;
//   display: block;
//   margin: 1rem auto;
//   min-width: 1px;
//   padding: .25rem;
//   transition: 250ms background ease-in;
//   &:hover, &:focus {
//     background: white;
//     color: black;
//     transition: 250ms background ease-in;
//   }
// }




// [class*=underlay] {
//   left: 0;
//   min-height: 100%;
//   min-width: 100%;
//   position: fixed;
//   top: 0;
// }
// .underlay-photo {
//   animation: hue-rotate 6s infinite;
//   background: url('https://31.media.tumblr.com/41c01e3f366d61793e5a3df70e46b462/tumblr_n4vc8sDHsd1st5lhmo1_1280.jpg');
//   background-size: cover;
//   -webkit-filter: grayscale(30%);
//   z-index: -1;
// }
// .underlay-black {
//   background: rgba(0,0,0,0.7);
//   z-index: -1;
// }

// @keyframes hue-rotate {
//   from {
//     -webkit-filter: grayscale(30%) hue-rotate(0deg);
//   }
//   to {
//     -webkit-filter: grayscale(30%) hue-rotate(360deg);
//   }
// }

