/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&display=swap');

*{
  padding: 0;
  margin: 0;
}

/*ページネーション自体のデザイン*/
.pagination li a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
}

/* 表示しているページ番号のデザイン */
.pagination .active a {
  border-radius: 15px;     /*角を丸くする*/
}

/*ホバー時のデザイン*/
.pagination li a:hover {
  border-radius: 15px;    /*角を丸くする*/
}

.page-item.active .page-link {
  color: #fff;
  background-color: #bdb76b;
  border-color: #bdb76b;
}

body,
html {
  // font-family: 'Amiri', serif;
  font-family: Hiragino Kaku Gothic Pro,Meiryo,sans-serif;
  background-color: #efe5df;
}

body{
  min-height: 100vh;
  position: relative;/*←相対位置*/
  padding-bottom: 90px;/*←footerの高さ*/
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
}

li,
ol{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
}


.l-app_navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  // background-color: #295d72;
  background-color: #fff;
  color: #000;
  border-right: 1px solid #e0d7d1;
  transition: all 0.6s;
  z-index: 999;
  transform: translateX(-170px);

  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	transform: translateX(-97%);

  }
}

.l-app_navigation.menu-active-complete {
  transform: translateX(0);
}

.l-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: pointer;

}

.l-menu:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: calc(100% + 200px);
}

.l-menu-close {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 44px;
  height: 44px;
  font-size: 15px;
  font-family: "Noto Sans JP",sans-serif;
  font-weight: 500;
  border: none;
  background: transparent;
  color: #000;

}

.l-menu-title {
  position: absolute;
  top: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  width: 80px;
  cursor: pointer;
}

.l-menu-title .icon {
  position: relative;
  width: 20px;
  height: 7px;
  margin: 0 auto 35px;
}

.l-menu-title .icon:after,
.l-menu-title .icon:before {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #000;
}

.l-menu-title .icon:before {
  top: 0;
  transform-origin: left center;
}

.l-menu-title .icon:after {
  bottom: 0;
  transform-origin: right center;
}

.l-menu-title .en,
.l-menu-title .jp {
  transform: rotate(90deg);
  line-height: 1;
  overflow: hidden;
}

.l-menu-title .jp {
   display: none;
}

.l-menu-title .en {
  margin: 15px auto 65px;
  font-size: 14px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.l-menu-title.menu-active-complete {
  opacity: 0;
  transition: 1s;
}

@media (max-width: 959px){
  .l-menu-title {
      top: 20px;
      right: -30px;
      width: 40px;
      height: 64px;
      background-color: #fff;

      .icon, .icon:after, .icon:before{
        display: none;
      }

      .jp{
        display: block;
        margin: auto;
        font-size: 13px;
      }

      .en{
        margin: 0;
        display: none;
      }
  }
}

span {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.l-menu-contents {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.l-menu-contents.menu-active-complete {
  overflow-y: auto;
  z-index: 2;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

.l-menu-contents.menu-active-complete::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.l-menu-index {
  padding: 65px 30px;

}

.l-menu-index_page-title {
  position: relative;
  display: block;
  padding: 20px;
}

.l-menu-index_page-title .line {
  display: block;
  line-height: 1;
}

.l-menu-index_page-title .jp {
  font-size: 15px;
  margin-bottom: 6px;
}

.l-menu-index_page-title .en {
  font-size: 10px;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.l-menu-index_section-list{
  // display: none;/*はじめは非表示*/
  padding: 0 0 0 30px;
  font-size: 13px;

}

.l-menu-index_section{
  padding: 0 0 20px 0;
}

.l-menu-index_section-link:hover{
  background: #000;
  color: #fff;
  text-decoration: none;
  padding: 2px;
}

.l-app_contents {
  padding: 50px 0;
  transition: all 0.6s;
  width: calc(100% - 300px);
  margin: 0 auto;

  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
    width: 100%;
  	margin: 0 0 0 auto;
  }
}

.l-app_header {
  left: 50%;
  top: 0;
  width: 855px;
  width: calc(100% - 300px);
  margin: 0 auto;

  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  // 	width: calc(100% - 110px);
    width: 100%;
  	margin: 0 0 0 auto;
  }
}

.menu-en{
  margin-left: 40px;
  text-align: center;
  font-size: 18px;

  @media screen and (max-width: 991px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	margin-left: 50px;
    text-align: start;
  }

}

.menu-jp{
  margin-left: 40px;
  text-align: center;
  font-size: 8px;

  @media screen and (max-width: 991px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	margin-left: 50px;
    text-align: start;
  }
}

.navbar{
  border-bottom: solid 1px #e0d7d1;
}

.navbar-brand{
  font-size: 45px;
  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
    margin-left: 40px;
  }

}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.7);
}

.l-app_footer {
  width: 100%;
  color: #000;
  text-align: center;

  position: absolute;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}

#event_calendar{
  padding-top: 15px;
}


// イベント新規登録画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// Helpers
@mixin clearfix {
   &:after {
      content: "";
      display: table;
      clear: both;
  }
}

.align-center {
   text-align: center;
}

.content-wrapper {
   min-height: 100%;
}

.contact-form {

 .input-text {
    display: block;
    width: 100%;
    height: 36px;
    border-width: 0 0 1px 0;
    border-color: #d3d3d3;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;

    &:focus {
       outline: none;
    }

    &:focus,
    &.not-empty {
       + .label {
          transform: translateY(-24px);
       }
    }
 }
 .label {
    bottom: 3px;
    line-height: 26px;
    font-weight: 400;
    transition: transform .2s ease-in-out;
 }
 .time-label{
    bottom: 3px;
    line-height: 26px;
    font-weight: 400;
    transition: transform .2s ease-in-out;
   left: 20px;
 }
}

.event-information {
  border: 1px dashed #d3d3d3;
  padding: 8px;
  p {
    margin-bottom: 5px;
  }
}

// チケット新規登録画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// ラジオボタンの位置調整
.radio-form-label {
  position: relative;
  top: 5px;
}

// チケット一覧画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// 検索フォーム
.ticket_search_form{
  background: #f0e9e6;
}


// チケット詳細画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.l-app_ticket_title{
  border-right: 1px dashed rgba(0, 0, 0, 0.125);
  background-color: rgba(0, 0, 0, 0.03);
}

.l-app_ticket_detail {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.header-color {
  background-color: #C4E3F5;
}



// アルバム画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.album_box {
  height: 150px;
  background: #c3d3d4;/* 紙の色 */
  color: #000;/* 文字色 */
  word-break: break-all;
}

.album_box_image {
    text-align: center;
    padding: 25px 0;
    font-size: 4em!important;
}

.albumsize{
  font-size:5em;
  color: #808080;
}


// 投稿画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.post_header{
  padding: 0.25rem 1.25rem;
}

.post_image{
  height: 200px;
}

.post_card{
  .card-body {
    padding: 0.5rem;
  }
}

.post_main_text {
  overflow: hidden;
  width: 100%;

  .post_text_tag, .post_text_content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  p {
    font-size: 0.8em;
    margin-bottom: 0.3rem;
  }

  .post-btn{
    font-size: 0.8em;
    border: 0.8px solid #d3d3d3;
    border-radius: 10px;     /*角を丸くする*/
    width: 60px;
    height: 30px;
  }

}

.post_list_text{
  font-size: 0.8em;
}

.main-post-image_area{
  padding-right: 0;
}

.main-post-image{
  background: #000;
  position: relative;
  height: 100%;

  .post-image{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    // width: 100%;
    // height: 90%;
    height: 500px;
    width: 100%; // 横幅を指定する（object-fitを使用する場合は、height,widthの指定が必要）
    object-fit: cover; // object-fitで縦横比を保って表示できる（cover,containなど）
    margin: auto;
    padding: 5px;

    @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	  position: static;
    }
  }
}

.post_image_detail {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-post-image_area_content{
  padding-left: 0;
}

.main_post_area{
  height: 70px;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

.main_post_area::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

.post_maitext{
  margin-bottom: 0.8px;
}

.main_comment_area{
  height: 220px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

.main_comment_area::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}


.main_favorite_area{
  height: 20px;
}

.input_comment{
  border: none;
}


.post_comment_list{
  border-bottom: dashed 1px #d3d3d3;
}


.post_comment_time_ago{
  font-size: 0.8em;
  text-align: right;
}


/* hiddenクラスがないとマスクとモーダルが表示される（JavaScriptでhiddenクラスを消したとき）*/
#mask-1, #mask-2, #mask-3 {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#modal-1, #modal-2, #modal-3 {
  position: fixed;   /* スクロールで移動しないようmodalの位置を固定します */
  top: 10vh;
  /* 以下3行：モーダルを左右中央揃えにする方法 */
  left: 0;
  right: 0;
  margin: 0 auto;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */
  width: 935px;   /* showビューの幅に合わせて設定 */

  height: 65%;
  overflow-y: scroll;
  overflow-x: hidden;
  transform: translate(0, 0) scale(1);
  transition: 0.2s;   /* transitionでアニメーションを作成 */
  z-index: 2;   /* マスクより上に重なるようにする */

  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */

  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	width: 90%;
  	height: 80%;
  }
}


#modal-1::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display: none;
}

#modal-2::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display: none;
}

#modal-3::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display: none;
}


/* hiddenクラスで最初は表示されないようにする */
#mask-1.hidden, #mask-2.hidden, #mask-3.hidden {
  opacity: 0;
  visibility: hidden;
}


#modal-1.hidden, #modal-2.hidden, #modal-3.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translate(0, 0) scale(0.8);   /* 大きさ0.8倍から等倍にモーダルが拡大される */
}

.user-list-area{
  margin: 5px;
  padding-bottom: 10px;
  border-bottom: 1px dashed #d3d3d3;
}

.user-introduction{
  @media screen and (max-width: 767px) {
	/* 767px以下に適用されるCSS */
	  padding-top: 10px;
  }
}


// ーーーーーーチャットルームーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.main-caht-room{
  border: 1px solid rgba(0, 0, 0, 0.35) !important;
  padding-right: 0;
  padding-left: 0;
}

.chat-room-user-name{
  background: #ded1ca;
  border-bottom: 1px solid rgba(0, 0, 0, 0.35);
  padding: 15px 5px;
}

.chat-room-text{
  padding: 5px 5px;
  background: #fff;
}

.chat-room-text-time{
  padding: 5px 5px;
}


#scroll-inner{
  height: 350px;
}

.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.incoming_msg_img {
  display: inline-block;
}
.received_msg {
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
  width: 92%;
}
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
  word-wrap: break-word;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  min-height: 350px;
  width: 100%;
  float: left;
  padding: 0 15px;
}

 .sent_msg p {
  background: #82bccc none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
  word-wrap: break-word;
}
.outgoing_msg{ overflow:hidden; margin-top :15px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}

.msg_history {
  height: 510px;
  overflow-y: auto;
}


// 通知リストのスタイルーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.notofication-list{
  padding: 10px 0;
  border-bottom: dashed 1px #d3d3d3;
}

// 共通ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
// fontawesomeのレイアウト
.size{
  font-size:2em;
  color: #808080;
}

// formのレイアウト調整
.form-control {
  background-color: #fff;
}

// 余白の調整
.mgl-10{
    margin-left : 10px;
}

.mgl-30{
    margin-left : 30px;
}

.mgr-10{
    margin-right : 10px;
}

.mgr-30{
    margin-right : 30px;
}

.submit-btn {
  display: inline-block;
  background-color: #4f4842;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}


// 通知マークの丸
.n-circle {
  position: absolute;
  padding-left: 5rem;
  padding-top: 0rem;
  color: #f4a460;
  opacity: 0.5;
  @media screen and (max-width: 991px) {
  	/* 991px以下に適用されるCSS（タブレット用） */
  	padding-left: 5.5rem;
  }
}

// DM通知マークの丸
.n-circle-mail{
  position: absolute;
  padding-left: 6.2rem;
  padding-top: 0rem;
  color: #efa04c;
  opacity: 0.5;
  color: #808000;
  @media screen and (max-width: 991px) {
  	/* 991px以下に適用されるCSS（タブレット用） */
  	padding-left: 6.7rem;
  }
}

.n-circle-index-mail{
  color: #808000;
}

// タブ切り替え
.tab, .sub-tab {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  border-bottom: solid 1px #CCC;
}

.sub-tab {
  border-left: solid 1px #CCC;
}

// タブがactiveのときのデザイン
.tab-active{
  color: #fff;
  background: #94A4A5;
}

.sub-tab-active{
  color: #FFF;
  background: #bfada3;
}

// タブの中身、最初は非表示
.tabbox, .sub-tabbox {
  display: none;
  padding: 15px;
}
// box-showクラスのものだけ表示
.box-show,.sub-box-show {
  display: block;
}
// hover時のアクション
.tab:hover, .sub-tab:hover {
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}


.follow_btn {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #00bfff;
  color: #fff;
}

.unfollow_btn{
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #fff;
}

.heart-red{
  color: #dc143c;
}

.heart-blue{
  color: #4169e1;
}

.message_btn {
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  background-color: #96b39c;
  color: #fff;
}

.card-main{
  border: 1px solid rgba(0, 0, 0, 0.35);
}

.card-header.main-header{
  background: #ded1ca;
  // color: #fff;
}

.card-header.sub-header{
  background: #f0e9e6;
  // color: #fff;
}

.table-color{
  background: #fff;
}

.modal-body{
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;    /* IE, Edge 対応 */
  scrollbar-width: none;       /* Firefox 対応 */
}

.modal-body::-webkit-scrollbar {  /* Chrome, Safari 対応 */
  display:none;
}

// トップ画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.home-main-text {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 50px;

}

.home-title {
  font-weight: bold;
  text-align: center;
}

.home-sub-title {
  padding: 10px 0;
}

.home-text {
  display: block;
  text-align: center;
  padding: 10px 0;
}

.home-sub-text{
  text-align: center;
  padding: 10px 0;
}

.home-image {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: image-url("note.jpeg");
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  backdrop-filter: blur(12px);
}

.home-image::before {
  background: inherit;
  content: '';
  position: absolute;
  filter: blur(6px);
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}


.login-link a:hover{
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 5px;
}


.signup-link a:hover{
  background: #fff;
  color: #000;
  text-decoration: none;
  padding: 5px;
}


// ログイン画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
.login-main{
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 50px;
  width: 600px;

  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	width: 500px;
  }

  @media screen and (max-width: 480px) {
  	width: 400px;
  }

}


.login-email, .login-password {
  ::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
  }
  ::-moz-placeholder {
    color: rgba(255,255,255,0.7);
  }
  :-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.7);
    }
    ::-moz-placeholder {
      color: rgba(0,0,0,0.7);
    }
    :-ms-input-placeholder {
      color: rgba(0,0,0,0.7);
    }
  }
}

.login-form {
  min-height: 10rem;
  margin: auto;
  padding: .5rem;
}
.login-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  .fa-stack-1x {
    color: black;
  }
}

.login-email, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

.login-forgot-pass {
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 75%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}
.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}


// サインアップ画面ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー

.signup-main{
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 50px;
  width: 600px;

  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	width: 500px;
  }

  @media screen and (max-width: 480px) {
  	width: 400px;
  }

}

.signup-name, .signup-email, .signup-password {
  ::-webkit-input-placeholder {
    color: rgba(255,255,255,0.7);
  }
  ::-moz-placeholder {
    color: rgba(255,255,255,0.7);
  }
  :-ms-input-placeholder {
    color: rgba(255,255,255,0.7);
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
    color: rgba(0,0,0,0.7);
    }
    ::-moz-placeholder {
      color: rgba(0,0,0,0.7);
    }
    :-ms-input-placeholder {
      color: rgba(0,0,0,0.7);
    }
  }
}

.signup-form {
  min-height: 10rem;
  margin: auto;
  padding: .5rem;
}
.signup-text {
  color: white;
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  .fa-stack-1x {
    color: black;
  }
}

.signup-name, .signup-email, .signup-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

.signup-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}

.signup-main{
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 50px;
  width: 600px;

  @media screen and (max-width: 959px) {
  	/* 959px以下に適用されるCSS（タブレット用） */
  	width: 500px;
  }

  @media screen and (max-width: 480px) {
  	width: 400px;
  }

}

.form-link-pass {
  bottom: 0;
  color: white;
  cursor: pointer;
  display: block;
  font-size: 90%;
  left: 0;
  opacity: 0.6;
  padding: .5rem;
  position: absolute;
  text-align: center;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}

.form-link-forget{
  color: white;
  cursor: pointer;
  display: block;
  font-size: 90%;
  left: 0;
  opacity: 0.6;
  text-align: center;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}

.field_with_errors {
  display: contents;
}

// エラーメッセージーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
#error_explanation{
  border: dashed 1px #db7093;
  color: #cd5c5c;
  padding: 5px 0 0 5px;
}

// フラッシュメッセージーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー
#notice{
  color: #cd5c5c;
  font-size: 16px;
  font-weight: bold;
}
