<nav class="navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Evenote<span>ようこそ、<%= current_user.user_name %>さん</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span><i class="far fa-user-circle"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="navbar-nav-item">
          <div class="nav-link">
            <%= link_to  users_path do %>
              <p><i class="fas fa-user"></i>プロフィール</p>
            <% end %>
          </div>
        </li>
        <li class="navbar-nav-item">
          <div class="nav-link">
            <%= link_to notifications_path, remote:true do %>
              <p>
                <% if unchecked_notifications.any? %>
                  <span>
                    <i class="fas fa-bell"></i>
                    <i class="fas fa-circle n-circle"></i>
                  </span>
                <% else %>
                  <i class="fas fa-bell"></i>
                <% end %>
                通知
              </p>
            <% end %>
          </div>
        </li>
        <li class="navbar-nav-item">
          <div class="nav-link">
            <%= link_to destroy_user_session_path, method: :delete do %>
              <p><i class="fas fa-sign-out-alt"></i>ログアウト</p>
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>